html {
  scroll-behavior: smooth;
}

.socialicons {
  padding-top: 2rem;
  a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.socialicons-contact {
  a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.is-section-title {
  padding-bottom: 3rem;
}
.is-highlight-text {
  color: $highlight-text;
}
.awards {
  padding-bottom: 5rem;
}
.pt-05 {
padding-top: 0.5rem;
}
.pt-1 {
  padding-top: 1rem;
}
#education-section {
  margin-bottom: 1rem;
  padding: 6rem 1.5rem;
}

#skillssection {
  padding: 5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .skillsanchor {
    display: block;
    height: 24vh;
    margin-top: -24vh;
    visibility: hidden;
  }
  .educationanchor {
    display: block;
    height: 20vh;
    margin-top: -20vh;
    visibility: hidden;
  }
}

.has-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.has-background-first {
  background-image: url('~assets/background-first.jpg');
}
.has-background-second {
  background-image: url('~assets/background-second.jpg');
}
.has-background-third {
  background-image: url('~assets/background-third.jpg');
}
.skillgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.jobgrid {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  justify-content: center;
}
.educationgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  justify-content: center;
  
}

.animate-text {
  opacity: 0;
  animation-name: text-appear;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateY(-5rem) scale(.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.animation-1 {
  animation-delay: 0.3s;
}
.animation-2 {
  animation-delay: 0.6s;
}
.animation-3 {
  animation-delay: 0.9s;
}
.animation-4 {
  animation-delay: 1.2s;
}
.animation-5 {
  animation-delay: 1.35s;
}
.animation-6 {
  animation-delay: 1.5s;
}
.animation-7 {
  animation-delay: 1.65s;
}

@media screen and (max-width: 600px) {
  .has-background {
    background-attachment: scroll;
  }
  .skillgrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .jobgrid {
    grid-template-columns: repeat(1, 90%);
    grid-column-gap: 1.5rem;
  }
  .educationgrid {
    grid-template-columns: repeat(1, 1fr);
  }
  #skillssection {
    padding: rem 1.5rem;
  }
  .socialicons {
    a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .socialicons-contact {
    a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  #education-section {
    padding: 3rem 1.5rem;
  }
  .has-content-centered{
    display: flex;
    align-items:center;
    justify-content:center;
  }
  .full-height {
    height: 100%;
  }
}
